<div id="carouselExampleSlidesOnly" class="parallax carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      1
      <!--<img class="d-block w-100" src=".../800x400?auto=yes&bg=777&fg=555&text=First slide" alt="First slide">-->
    </div>
    <div class="carousel-item">
      2
      <!--<img class="d-block w-100" src=".../800x400?auto=yes&bg=666&fg=444&text=Second slide" alt="Second slide">-->
    </div>
    <div class="carousel-item">
      3
      <!--<img class="d-block w-100" src=".../800x400?auto=yes&bg=555&fg=333&text=Third slide" alt="Third slide">-->
    </div>
  </div>
</div>
<!--<p>-->
  <!--Dashboard-->
<!--</p>-->
